<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Schedule - Performance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list inset>
    
    <ion-list-header>
      <ion-text>
        <h3 style="width: 100%; text-align: center;">PERFORMANCE LIST</h3>
        <h6>OPENING CEREMONIES & AFTERNOON STAGE PROGRAM</h6><br>
      </ion-text>
    </ion-list-header>

    <ion-item-group *ngFor="let item of (performanceList)">
      <!-- <ion-item-divider color="primary"> -->
      <ion-item-divider color="{{getTimeHighlight(item.time_start)}}">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>{{item.time_start}} - {{item.time_end}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <ion-label>{{item.title}}
          <ion-label *ngIf="item.subitem != undefined"> <br>
            <ion-label *ngFor="let sub of item.subitem; index as i">
              &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon>{{item.subitem[i]}}<br>
            </ion-label>
          </ion-label>
        </ion-label>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>