<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Schedule - Performance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list inset>
    <ion-list-header>
      <ion-text>
        <h3 style="width: 100%; text-align: center;">PERFORMANCE LIST</h3>
        <h6>OPENING CEREMONIES & AFTERNOON STAGE PROGRAM</h6><br>
      </ion-text>
    </ion-list-header>
    
    <ion-item-group>
      <ion-item-divider color="primary">
          <ion-icon name="clock"></ion-icon>
          &nbsp;
          <ion-label>11:09 AM - 11:13 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: National Anthem XYZ</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:14 AM - 11:19 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Welcome Address by Shaneela Jivraj</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:20 AM - 11:25 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Shakeel Bharmal</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:26 AM - 11:29 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: MP Arif Virani</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:30 AM - 11:35 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Mayor John Tory</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:39 AM - 11:55 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>Cheque Presentations<br><br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 1. Gulshan & Pyarali G Nanji Foundation - $100,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 2. Helping Hands by Hotels /  Sunray Group - $100,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 3. Prestige Auto - $100,000 Presenter: Feroz Savja<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 4. Scotiabank - $100,000 Presenter: Priya Dhawan-Chahal;Receiver:<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 5. RBC (re Fellowship) - $50,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 6. KPMG - $45,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 7. A&W - $40,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 8. BMO - $25,000 - Nadim Hirji / Anar Samji<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 9. Fido / Wireless DNA - $25,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 10. Yorkdale Toyota / T&T Honda - $25,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 11. Cellicon - $25,000<br>
          &nbsp;&nbsp;<ion-icon name="checkmark" class="foodList" color="warning"></ion-icon> 12. Dynacare (In Memory of Naseem Somani) 
          - $5,000 + $4,755 Presenter: Vito; Receiver : Shakeel and Shaneela<br><br>
        </ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:55 AM - 11:57 AM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Vito - Dynacare</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>11:58 AM - 12:04 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Warm up - Bolly X</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>12:13 PM - 12:15 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>Ribbon cutting and commencement of Walk</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>01:45 PM - 01:55 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Bolly X</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>01:59 PM - 02:04 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Duet Dance Company</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:05 PM - 02:10 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE: Recognition of Corporate Teams</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:11 PM - 02:16 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Singer</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:17 PM - 02:22 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Soul 2 Sole</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:23 PM - 02:28 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE: Recognition of Tots & Tykes Teams</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:28 PM - 02:33 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE: Recognition of School Teams</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:33 PM - 02:38 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE: Recognition of University/College Teams</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:39 PM - 02:44 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Shiamak</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>02:55 PM - 03:00 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Saveria Singer</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>03:07 PM - 03:11 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE: Wireless DNA Draw</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>03:12 PM - 03:17 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Living Arts Academy</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>03:44 PM - 03:47 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>PERFORMANCE by: Shaneela Jivraj - Closing Remarks</ion-label>
      </ion-item>

      <ion-item-divider color="primary">
        <ion-icon name="clock"></ion-icon>
        &nbsp;
        <ion-label>03:52 PM - 03:59 PM</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label text-wrap>WPW 2019 Video</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>