<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="/assets/AKFC-logo.png" alt="" />
    <img src="/assets/AKFC-building.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle color="primary">AFKC</ion-card-subtitle>
      <ion-card-title><b>Aga Khan Foundation Canada</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        In 1985, a group of women in Vancouver came together to raise funds to support the work of AKFC. All had come from
        Africa or Asia and wanted to give back to the communities they left behind. They persuaded 1,000 other Canadians to join
        them in a walk to fight global poverty and raised $55,000. That first walk grew into an annual event, held in 10 cities
        across Canada with the support of tens of thousands of volunteers, corporate sponsors and participants. Thirty-five
        years later, the World Partnership Walk has raised more than $120 million - making it the largest event in Canada in
        support of international development. Join us in 2020!
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">Contact Us</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        THE DELEGATION OF THE ISMAILI IMAMAT
      </div>
      <div>
        199 Sussex Drive
      </div>
      <div>
        Ottawa, Canada, K1N 1K6
      </div>
      <div>
        <a href="https://www.facebook.com/akfcanada/"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="https://www.youtube.com/user/akfcadmin"><ion-icon name="logo-youtube"></ion-icon></a>
        <a href="https://twitter.com/AKFCanada"><ion-icon name="logo-twitter"></ion-icon></a>
      </div>
    </ion-card-content>
  </ion-card>
  

</ion-content>
