<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Map of the Route
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div (click)="openViewer()">
            <ion-img id='mapEventImg'></ion-img>
        </div>
        <ion-card-header>
            <ion-card-title><b>World Partnership Walk Toronto</b></ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>