<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Map of the Rout
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-img-viewer src="/assets/WPW_2020_RouteMap.png"></ion-img-viewer>
        <ion-card-header>
            <ion-card-title><b>World Partnership Walk Toronto</b></ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>