<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Donate
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-text color="primary">
      <h1 class="ion-text-center">Donate to WPW Toronto</h1>
    </ion-text>
    <p class="ion-padding-top ion-padding-bottom ion-text-justify">Funds raised through World Partnership Walk go directly to 
      support AKFC’s development programs in Africa and Asia— 
      initiatives that improve access to quality education and health, 
      increase food security, create economic opportunities and 
      help millions of people unlock their potential to build a better life.
    </p>
    <ion-button expand="block" href="https://secure3.convio.net/akfc/site/Donation2?idb=1849506191&df_id=1831&FR_ID=1617&PROXY_ID=1015557&PROXY_TYPE=20&1831.donation=form1">
      DONATE
    </ion-button>
</ion-content>