<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="/assets/WPW_Toronto-1.jpg" alt="" />
        <ion-card-header>
            <ion-card-subtitle color="primary">Walk With Us</ion-card-subtitle>
            <ion-card-title><b>World Partnership Walk Toronto</b></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                When we step forward together, we can make a world of difference. Join tens of thousands of Canadians who are fighting global poverty and inspiring hope.
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>